<section>
    <h2>Skills</h2>
    <article *ngFor="let skill of skillList" class="experiences-article">
        <figure class="thumbnail-photo-img"><img class="thumbnail-photo-img-indv" [src]="skill.jobPhoto"></figure>
        <ul class="experiences-article-info">
            <li class="experience-p"> {{skill.skillTitle}}</li>
            <li class="experience-p">{{skill.skillTipe}}</li>
            <li class="experience-p">{{skill.skillLevel}}</li>
        </ul>
        <p class="experience-p">{{skill.skillDescription}}</p>
    </article>
</section>

