<header class="header-section-main">
    <article class="web-logo">
        <figure class="web-logo-figure">
            <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png" class="img-thumbnail" alt="Logo Programa Argentina Programa representado por un dibujo de una consola de comandos">
        </figure>
        <h1 class="title-main-header">Argentina Programa #YoProgramo</h1>
    </article>
    <article class="nav-login-section">
        <nav id="Menu">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <article class="login-buton">
                        <p>To Do: Login secction</p>
                    </article>
                </li>
              </ul>
        </nav>
    </article>
</header>