<section>
    <article>
        <figure>
            <img src="">
        </figure>
        <p>Argentina Programa #YoProgramo</p>
    </article>
    <nav>
        <ul>
            <li>About Me</li>
            <li>Experiencias Laborales</li>
            <li>Educacion</li>
            <li>Skills</li>
            <li>Proyectos</li>
            <li>Contacto</li>
        </ul>
    </nav>
    <article>
        <form autocomplete="off">
            <legend>Inicie Sesion</legend>
            <label for="User">
                <input type="text" id="User" value="" name="Usuario" placeholder="Usuario"  autocomplete="off" required>
            </label>
            <label for="Pass">
                <input type="password" id="Pass" value="" name="Password" placeholder="Password" autocomplete="off" required>
            </label>
            <input type="submit" value="Iniciar Sesion" id="send">
        </form>
    </article>
</section>