<section>
    <section id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <article class="carousel-inner">
          <figure class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
          </figure>
          <figure class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
          </figure>
          <figure class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </figure>
        </article>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </section>
    <section>
        <article class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <article class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </article>
        </article>
    </section>
    <section>
        <article class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <article class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </article>
        </article>
    </section>
</section>

