.about-me-main-class{
    background-color: violet;
    display: flex;
    margin: 2%;
    flex-direction: column;
    width: 100%;
}

.banner-photo{
    width: 100%;
}

.banner-photo-figure{
    width: 100%;
}

.datos-persona-container{
    display: flex;
    width: 100%;
}

.datos-persona{
    background-color: aquamarine;
    width: 40%;
}

.persona-picture-container{
    background-color: blue;
    width: 20%;
}

.about-me{
    background-color: red;
    width: 60%;
    justify-content: center;
    align-content: center;
    text-align: center;
}