<section class="about-me-main-class">
  <section class="banner-photo">
    <figure class="banner-photo-figure">
      <img [src]="portfolioData.bannerPhoto" class="img-fluid" alt="Responsive image">
    </figure>
  </section>
  <section class="datos-persona-container">
    <article class="datos-persona">
      <figure class="persona-picture-container"><img [src]="portfolioData.personaPhoto" alt="..." class="img-circle"></figure>
      <p>Nombre: {{portfolioData.name}} {{portfolioData.lastName}}</p>
      <p>Titulo: {{portfolioData.title}}</p>
      <p>email: {{portfolioData.email}}</p>
      <p>Celular: {{portfolioData.phoneNumber}}</p>
    </article>
    <article class="about-me">
      <p class="about-me">{{portfolioData.aboutMe}}</p>
    </article>
  </section>
</section>